.title_div{
background-color:rgb(207, 179, 255);
text-align: center;
border: 5px solid rgb(207, 179, 255);
}

.imageLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
height: auto;
}

.image_container{
border: 5px solid rgb(0, 0, 0);
background-color: lightpink;

}

